
<body>
    <footer class="footer">
        &copy; <span id="date"></span> Designed by: Olaide Abiola. All right Reserved
    </footer>
    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/54c6d49d8b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <script>
      AOS.init();
    </script>
    
    
</body>
</html>