<header class=".head">
    <img src="image/ab.jpg" alt="logo" class="logo"/>
    <nav class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#container2">About</a></li>
            <li><a href="#about">Portfolio</a></li>
            <li><a href="#contact">Contact </a></li>
        </ul>
    </nav>
    <div class="nav">
        <ul>
            <li><a href="#">Hire me</a></li>
        </ul>
    </div> 
</header>


