<%- include('../partial/head')%>
<%- include('../partial/header')%>

<main>
    <br>
    <div class="container firstcontainer" data-aos="fade-up">
        <div class="row row1" >
            <div class="col-md-6 ">
                <p class="p">Hi visitor, my name is</p>  
                <h1>Olaide Abiola</h1>
                    <h3>I build things for the web.</h3>
                        <p>Hello I’m Abiola, I’m a passionate full stack engineer, web developer, product designer, and a graphic designer. My intention is to provide digital solutions to the public using my expertise in MERN(mongodb, express js, reactjs ) stack and PHP/laravel to build robust and scalable web applications and mobile application(flutter). I’m proficient in technologies such as JavaScript, PHP, python, figma, Adobe photoshop(for pixel based designs) and coreldraw for vector designs such as logos. I started my career as an hardware engineer and graphic designer then I realized my passion for tech. I started building up my skill in web development then i furthered more to study computer science to pursue my career and today I take pride in what I do. are you looking forward to hire a professional for your websites, mobile application for your next project ? i am glad to let you know that i am a perfect fit to handle your project. be it little or complex project. you need not worry because i belong to a team of professionals and will deliver at the stipulated time for complex projects that requires teamwork.  </p>
            </div>
            <div class="col-md-6 ">
                <img src="image/new.png" alt="abiola" >
            </div>   
        </div>
       
    </div>

<section class="container2" id="container2"  data-aos="fade-down" data-aos-duration="1000">
    <img src="image/photo.png"  alt="" class="remove">
    <section>
        <p>I AM A WEB DEVELOPER</p>
        <h1>About Me</h1>
       <article class="sec1">As a passionate and dedicated web developer with over 3 years of professional experience, I take pride in my ability to turn your project into a success. I enjoy every aspect of the design process, from discussing ideas to collaborating on the final product.</article><br>

       <article class="sec2">My expertise in  React, Next, Node JS, JavaScript, Bootstrap, PHP, Laravel and Tailwind allows me to create stunning web applications for clients across the globe</article><br>

       <article class="sec3">If you're in need of top-notch web development services, don't hesitate to reach out and give me a call.</article>
</section>
</section>
<div class="job" data-aos="fade-left" data-aos-duration="1000" >
    <div class="jobrobot">
        <h1 style="font-weight: 900;">What I do</h1>
        <img src="image/robot1.png" alt="">
    </div>
    <div class="skillset" >
        <div class="skill"  data-aos="fade-up" data-aos-duration="1000">
            <i class='fas fa-laptop-code' style="font-size: 30px;"></i>
            <h2>Web development</h2>
            <p>Want to expand your online presence or looking for a way to reach more customers ? A professional website is the perfect way to showcase your business and attract new clients. You can have a custom website that reflects your brand, communicates your message effectively, and engages your audience.</p>
        </div>
        <div class="skill" data-aos="fade-up" data-aos-duration="1000">
            <i class='fas fa-chalkboard-teacher' style="font-size: 30px;"></i>
            <h2>Training & Mentorship</h2>
            <p>If you're passionate about technology and want to break into the industry, I can help you get started. With so many resources available online, it can be overwhelming to know where to begin. That's where I come in. From HTML and CSS to JavaScript and more, I'll guide you step by step and help you achieve your goals.</p>
        </div>
        <div class="skill" data-aos="fade-up" data-aos-duration="1000" style="background-color: orangered; color: #fff ;">
            <i class="fa-solid fa-code" style="font-size: 30px;"></i>    
            <h2>Web Consulting</h2>
            <p>Are you trying to figure out the best tools to use for your website or web app? Do you want to optimize your application but aren't sure how? Look no further - I'm here to help. As an experienced web developer, I can provide guidance and advice on the most effective tools and technologies to meet your specific needs.</p>
        </div>
        <div class="skill" data-aos="fade-up" data-aos-duration="1000" style="background-color: orangered; color: #fff ;">
            <i class="fa-solid fa-pencil" style="font-size: 30px;"></i>
            <h2>Graphic Designing </h2>
            <p>I make professional, beautiful, and creative designs. I am not a regular designer.
                i have mastered the professional design skills and tips to creating a stunning designs. I have the capability of taking your brand to the next level through communicating efficiently with designs. I make use of <b>Adobe Photshop</b> for pixel based designs and <b>Corelraw</b> for vector designs such as professional logos.
            </p>
        </div>
    </div>
</div>
<div class="parent" data-aos="fade-right" data-aos-duration="1000">
    <h1>Skills</h1>
    <div class="tool" >
        <div class="tools" >
            <div class="desc" data-aos="fade-up" data-aos-duration="1000">
                <i class="fa-brands fa-react" style=" font-size: 100px; color: blue;"></i>
                <div>React</div>
            </div>

            <div class="desc" data-aos="fade-up" data-aos-duration="1000">
                <i class="fa-brands fa-html5" style=" font-size: 100px; color: orangered;"></i>
                <div>Html 5</div>
            </div> 

            <div class="desc" data-aos="fade-up" data-aos-duration="1000">
                <i class="fa-brands fa-css3" style=" font-size: 100px; color: #264de4;"></i>
                <div>CSS 3</div>
            </div>

            <div class="desc" data-aos="fade-up" data-aos-duration="1000">
                <i class="fa-brands fa-github" style=" font-size: 100px; "></i>
                <div>Github</div>
            </div>

                 <div class="desc" data-aos="fade-up" data-aos-duration="1000"> 
                    <i class="fa-brands fa-js" style=" font-size: 100px; color: #f9dc1d;"></i>
                <div>JavaScript</div>
            </div>
                
            <div class="desc" data-aos="fade-up" data-aos-duration="1000">
                <i class="fa-brands fa-node-js" style=" font-size: 100px; color: #3c873a;"></i>
            <div>Node Js</div>
        </div>

        <div class="desc" data-aos="fade-up" data-aos-duration="1000">
            <i class="fa-brands fa-bootstrap" style="font-size: 100px; color: #563d7c;"></i>
        <div>Bootstrap</div>
    </div>

    <div class="desc" data-aos="fade-up" data-aos-duration="1000">
        <i class="fa-brands fa-php" style="font-size: 100px; color:  RGB(72, 76, 137)"></i>
    <div>PHP</div>
</div>

<div class="desc" data-aos="fade-up" data-aos-duration="1000">
    <i class="fa-brands fa-laravel" style="font-size: 100px; color: #F05340;"></i>
<div>Laravel</div>
</div>

<div class="desc" data-aos="fade-up" data-aos-duration="1000">
    <svg xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
        <path d="M 22 0 C 15 0 10 7 10 14 C 10 29.5 23 42 23 42 C 23 42 14 29 14 14 C 14 2 22 0 22 0 z M 25 0 C 22.4 0 18 3.159 18 15 C 18 26.058 23.578406 40.737422 23.816406 41.357422 L 24.0625 42 L 25.9375 42 L 26.183594 41.357422 C 26.420594 40.737422 32 26.058 32 15 C 32 3.159 27.6 0 25 0 z M 28 0 C 28 0 36 2 36 14 C 36 29 27 42 27 42 C 27 42 40 29.5 40 14 C 40 7 35 0 28 0 z M 14 2 C 14 2 6 5 6 14 C 6 31 21.5 42 21.5 42 C 21.5 42 8 30 8 14 C 8 5.75 14 2 14 2 z M 36 2 C 36 2 42 5.75 42 14 C 42 30 28.5 42 28.5 42 C 28.5 42 44 31 44 14 C 44 5 36 2 36 2 z M 21 44 C 20.692 44 20.402891 44.141766 20.212891 44.384766 C 20.022891 44.627766 19.954297 44.943188 20.029297 45.242188 L 21.029297 49.242188 C 21.141297 49.686187 21.541 50 22 50 L 28 50 C 28.459 50 28.858703 49.687188 28.970703 49.242188 L 29.970703 45.242188 C 30.045703 44.943188 29.976109 44.627766 29.787109 44.384766 C 29.598109 44.141766 29.308 44 29 44 L 21 44 z"></path>
    </svg>
<div>Coreldraw</div>
</div>
        </div>
        <div class="bounce">
            <img src="image/capture.png" alt="bouncing robot" style="width: 100%;" class="bounce">
        </div>
    </div>
</div>
<div class="container">
    
<section data-aos="fade-up" id="contact" data-aos-duration="1000" class=" mt-5 row"  style="display: flex; justify-content: space-between; align-content: bottom ; flex-direction: row;" >
    <article class="col-lg-4 col-md-6">
        <p style="font-weight: 900;">CONTACT ME</p>
        <h1 class="display-6" style="font-weight: bold;">Let's Discuss your Project</h1>
        <span class="h5 text-dark" ><i class="fa-sharp fa-solid fa fa-phone-volume h4 fa p-3 rounded-circle text-dark mx-3"> </i> 090389976096</span><br>
        <span class="h5 text-dark"><i class="fa-solid fa-envelope fa h5 p-3 rounded-circle text-dark mx-3"></i> olaideabiola2@gmail.com</span> <br>
        <a href="https://web.facebook.com/abisco.olaide" target="_blank"><span><i class="fa-brands ff fa-facebook  h4 p-3 rounded-circle mx-3"></i></span></a>
        <a href="#"><span><i class="fa-brands ff fa-twitter  h5  p-3 rounded-circle  mx-3"></i></span></a> 
        <a href="
        https://www.linkedin.com/in/olaide-abiola-3aab7a249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app
        " target="_blank"><span><i class="fa-brands ff fa-linkedin h5 p-3 rounded-circle  mx-3"></i></span></a>
    </article>
    <article class="col-lg-5 col-md-5" style="border-radius: 10px; padding: 20px; box-shadow: 0px 0px 5px black;">
        <form action="/api/user/contact" class="form" method="post" target="_blank">
            <h3>Write to me</h3>
            <div class="my-3 ">
                <input type="text" name="name" placeholder="Your Name" class="form-control">
            </div>
            <div class="my-3 ">
                <input type="email" name="email" placeholder="Your Email here" class="form-control">
            </div>
            <div class="my-3 ">
                <textarea name="message" id="" cols="30" rows="5" class="form-control"></textarea>
            </div>
            <div class="my-3 ">
               <button type="submit" class="fs p-2 " style="float: right; border-radius: 10px;"> Send</button>
            </div>
        </form>
    </article>
    <article  class="robotnew col-lg-2">
        <div class="img1 "></div>
    </article>
</section>
</div>


</main>



<%- include('../partial/footer')%>